<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Name</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {% block content %}{% endblock %}

  <script src="/js/main.js"></script>
</body>
</html>
